{% extends 'common/index.html' %}
{% load static %}
{% load tz %}
{% block title %} Checkout {% endblock title %}
{% block content %}
<div class="container mt-5">
        <h2 class="text-center mb-4">Checkout</h2>
        <div class="row">
        <div class="cal-md-12" >
            <ul class="list-group" id="item_list">
                
            </ul>
        </div>
    </br>
    <br/>
    <form method="post" action="{% url 'shop:checkout' %}">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-6">
                <h4>Billing Details</h4>
                <input type="hidden" id="items" name="items">
                <div class="form-group mb-3">
                    <label for="name">First Name</label>
                    <input type="text" class="form-control" id="name" name="name" placeholder="Enter your name" >
                </div>
                <div class="form-group mb-3">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="Enter your email address" >
                </div>
                <div class="form-group mb-3">
                    <label for="phone">Phone</label>
                    {% comment %} <input type="tel" pattern="^\+8801[0-9]{9}$" class="form-control" id="phone" name="phone" placeholder="+8801XXXXXXXXX" > {% endcomment %}
                    <input type="tel"  class="form-control" id="phone" name="phone" placeholder="+8801XXXXXXXXX" >
                </div>
                <div class="form-group mb-3">
                    <label for="address">Address</label>
                    <input type="text" class="form-control" id="address" name="address" placeholder="Enter your address" >
                </div>
                <div class="form-group mb-3">
                    <label for="city">City</label>
                    <input type="text" class="form-control" id="city" name="city" placeholder="Enter your city" >
                </div>
                <div class="form-group mb-3">
                    <label for="zip_code">Zip Code</label>
                    <input type="text" class="form-control" id="zip_code" name="zip_code" placeholder="Enter your zip code" >
                </div>
                <div class="form-group mb-3">
                    {% comment %} <label for="zip_code">Zip Code</label> {% endcomment %}
                    <input id="total" name="total" type="text" readonly="" hidden >
                </div>
            </div>
            <div class="col-md-6">
                <h4>Payment Details</h4>
                <div class="form-group mb-3">
                    <label for="card_name">Name on Card</label>
                    <input type="text" class="form-control" id="card_name" name="card_name" placeholder="Enter name on card" >
                </div>
                <div class="form-group mb-3">
                    <label for="card_number">Card Number</label>
                    <input type="text" class="form-control" id="card_number" name="card_number" placeholder="Enter your card number" >
                </div>
                <div class="form-group mb-3">
                    <label for="expiry_date">Expiry Date</label>
                    <input type="text" class="form-control" id="expiry_date" name="expiry_date" placeholder="MM/YY" >
                </div>
                <div class="form-group mb-3">
                    <label for="cvv">CVV</label>
                    <input type="text" class="form-control" id="cvv" name="cvv" placeholder="Enter CVV" >
                </div>
            </div>
        </div>
        <div class="text-center mt-4">
            <button type="submit" class="btn btn-primary">Place Order</button>
        </div>
    </form>
</div>

<script type="text/javascript" >
    if (localStorage.getItem('cart')==null){
        cart = {};
    }
    else{
        cart = JSON.parse(localStorage.getItem('cart'));
    }
    let total = 0
    for (var item in cart){
        let name = cart[item][1]
        let quantity = cart[item][0]
        let price = cart[item][2]
        total += price
        
        itemString = `<li class="list-group-item d-flex justify-content-between align-items-center">${name} </span>  <span class="badge text-bg-primary rounded-pill">${quantity}</span> <span class="badge bg-warning text-dark rounded-pill"> Price:  ${price} </li>`
        $('#item_list').append(itemString);

    }
    total = total.toFixed(2);
    totalPrice = `<li class="list-group-item d-flex justify-content-between align-items-center"><strong> Total price: </strong> <span class="badge bg-warning text-dark rounded-pill"> ${total}</span> </li>`

    $('#item_list').append(totalPrice);
    $('#total').val(total);
    $('#items').val(JSON.stringify(cart));
</script>
{% endblock %}